.RefugioBoton {
    background: #5b483b; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno del botón */
    text-align: center; /* Alinear texto en el centro */
    text-decoration: none; /* Eliminar subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s ease; /* Transición suave en hover */
}


