.RefugioBoton {
    background-color: #5b483b; 
    color: white;
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}


