.paragraph-with-icon {
    display: flex;
    align-items: center;
}

.paragraph-with-icon img {
    margin-right: 8px; /* Ajusta el espacio entre el icono y el texto */
    width: 35px;       /* Tamaño del icono */
    height: 35px;      /* Tamaño del icono */
}

.paragraph-with-icon p {
    margin: 0; /* Elimina el margen del párrafo para asegurar la alineación */
}