.paragraph-with-icon {
    display: flex;
    align-items: center;
}

.paragraph-with-icon img {
    margin-right: 8px; 
    width: 35px;      
    height: 35px;    
}

.paragraph-with-icon p {
    margin: 0; 
}