section {
    text-align: center;
    margin-bottom: 40px;
    padding: 90px 0;
    }
.section-1 {
    background-color: #c7b19c;
    padding-bottom: 70px; /*marca bien los margenes*/
    padding-top: 40px; /*marca bien los margenes*/
    
}    
.section-1-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.section-1-content {
    display: flex;
    align-items: center; 
    gap: 20px; 
    justify-content: center;
    padding: 70px 0;

}
.section-content {
    text-align: justify;
    margin: 0;
}
.section-1-text {
    flex: 1;
    max-width: 70%; 
    text-align: left; 
    font-size: 21px;
    margin-left: -35px;
}
.section-1-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
.section-1-imagen {
    flex: 1;
    max-width: 30%;
    height: auto;
    position: relative;
    left: 50px;
    margin: 0px;

}
.section-2 {
    background-color: #f4eee2; 
    margin-bottom: 40px; }

.section-2-container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;   } 

.section-2-content {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        justify-content: flex-start;
        flex-direction: row; 
        flex-wrap: wrap; 
        }

.section-2-title {
        font-size: 2em;
        margin-bottom: 20px;
        color: #333;}

.section-2-imagen {
    flex: 1;
    max-width: 40%;
    height: auto;
    top: 35px;
    border-radius: 15px;

}
.section-2-text {
    flex: 1;
    flex-grow: 2;
    max-width: 60%; 
    text-align: left; 
    font-size: 20px;
    }


.section-3 {
    background-color: #c7b19c
    ;
}
.section-4 {
    background-color: #f4eee2
    ;
}

.section-5 {
    font-size: 1.5em;
    background-color: #c7b19c
    ;
}
